.header-container{
    padding:2% 2%;
    color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.197);
    background-color: #82D3AC;
}
.header-container button{
    background: transparent;
    border: 2px black solid;
    width: 16em;
    background: #fff;
    color: black;
    font-weight: 750;
}

.heading{
    font-size: 250%;
}

.sub-heading{
    text-align: center;
    font-size: 120%;
    font-weight: 500;
    padding-top: 3%;
    padding-bottom: 5%;
    font-weight: none;
}
.sub-heading1{
    color: black;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding-top: 3%;
    padding-bottom: 5%;
    font-weight: 600;
}
.options-container{
    color: white;
    padding: 2% 3%;
}

.options-image{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.capsule{
    position: relative;
    height: 100%;
    cursor: pointer;
    border: 4px solid rgba(0, 0, 0, 0.374);
    border-radius: 5px;
}
.on-image{
    height: 98%;
    width: 98%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.891);
    padding: 5px;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.on-image-text1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #000000b7;
    overflow: hidden;
    border-radius: 2px;
    width: 100%;
    height: 0;
    transition: ease 0.5s;

}
.capsule:hover .on-image-text1{
    height: 100%;
}
.on-image-text1  h2{
    font-size: 4vh;
    margin-top: 1rem;
    font-weight: 900;
}
.on-image-text1  p{
    font-size: 1em;
    margin-top: 2rem;
    font-weight: 700;
}
.on-image-text1 button{
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 9rem;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 2.5rem;
    border: 2px solid black;
    border-radius: 15px;
    margin-left: -1rem;
    text-align: center;
    background: #fff;
    transition: all ease 0.3s;
}
.on-image-text1 button:active{
    scale: 0.9;
}

@media only screen and (max-width: 680px){
    .on-image-text  h2{
        font-size: 1.5em;
    }
    .on-image-text  p{
        font-size: .9em;
        margin-bottom: -2em;
    }
    .on-image-text button{
        width: 12em;
        height: 6em;
        font-size: .5em;
    }
    .sub-heading1{
        font-size: 1.2rem;
    }
    .heading{
        margin-top: .5em;
        font-size: 2em;
        text-align: center;
    }
    .sub-heading{
        font-size: 100%;
    }
    .header-container button{
        font-size: .9em;
        width: 9em;
        height: 3.5em;
    }
}