nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}
nav ul{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
label img{
    margin-top: 25px;
    height: 60px;
    width: 340px;
    margin-left: 0vw;
    padding: 0 40px;
}
nav ul{
    display: flex;
    margin-right: 1vw;
}
nav ul li{
    display: inline-block;
    line-height: 120px;
    margin: 0 2vw;
}
nav ul li a{
    color: #000;
    font-weight: 490;
    font-size: 1.2vw;
    padding: .9vw 1.1vw;
    border-radius: 3px;
}
a:hover{
    background: #82d3ac67;
}

.checkbtn{
    font-size: 30px;
    color: #000;
    float: right;
    line-height: 120px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 1090px)
{
    label img{
        margin-top: 42px;
        height: 40px;
        width: 250px;
    }
}
@media (max-width: 894px){
    nav ul li a{
        font-size: 9.5px;
    }
}
@media (max-width: 858px){
    label img{
        margin-left: -102vw;
        height: 50px;
        width: 240px;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;  
        height: 90vh;
        background: #4b4949ee;
        top: 100px;
        left: 100%;
        text-align: center;
        z-index: 10;
        transition: all 0.5s;
    }
    nav ul{
        flex-direction: column;
        justify-content: space-evenly;
    }
    nav ul li a{
        color: #000;
        font-size: 25px;
        padding: 1vw 1.5vw;
        margin-top: 20vw;
    }
    label i{
        margin-left: 90vw;
    }
    #check:checked ~ ul{
        left: 50%;
    }
    nav ul li a{
        margin-right: 48vw;
        color: white;
    }
}
@media (max-width: 558px){
    label img{
        height: 40px;
        width: 220px;
        margin-left: -105vw;
    }
    nav ul li{
        margin-top: -20vw;
    }
    label i{
        margin-left: 85vw;
    }
    nav ul{
        margin-left: -2vw;
    }
    nav ul li a{
        font-size: 20px;
        color: white;
    }
    nav ul li{
        margin-top: -25vw;
    }
}
@media (max-width: 450px){
    label img{
        margin-left: -107vw;
    }
}
@media (max-width: 300px)
{
    label img{
        margin-left: -118vw;
        margin-top: 16vw;
    }
    nav label i{
        font-size: 20px;
    }
    nav ul li a{
        font-size: 12px;
        margin-left: -9vw;
        color: white;
    }
    nav ul li{
        margin-top: -20vw;
    }
}