.page3{
    max-width: 100%;
    max-height: 120rem;
    font-size: 62.5%;
    background: #fff;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #82D3AC;
    height: 15vh;
    box-shadow: 0rem 0.1rem .8rem black;
}
.navbar h1{
    font-size: 2rem;
    padding: 7rem;
    font-weight: 700;
}
.navbar button{
    max-height: 3.5rem;
    max-width: 12rem;
    padding: 0.8rem;
    border: .1rem solid white;
    font-family: 'Poppins';
    background-color: #00000035;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 7rem;
    transform: all ease 0.2s;
    border-radius: .8rem;
}
.navbar button:active{
    scale: 0.9;
}
.page3 #submit{
    margin-top: 1rem;
    margin-left: 8rem;
    border-radius: 5rem;
    border: none;
    margin-right: -7rem;
    background-color: #4bc58a;
    padding: 0.8rem;
    max-height: 10rem;
    max-width: 15rem;
    font-size: .9rem;
    font-weight: 700;
    transition: all ease 0.2s;
}
.page3 #submit:active{
    scale: 0.9;
}

.page3 p{
    margin-left: 1.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
    padding: 6rem;
    margin-top: -1vh;
    font-size: 21px;
}
.child_detail{
    margin-top: -6vh;
    display: flex;
}
.setion1 span{
    margin-left: 14.5vh;
    font-size: 16px;
    font-weight: 500;
}
.setion1 input{
    margin-top: 1vh;
    border-radius: 2px;
    padding: 10px;
    border: .9px solid black;
    background: transparent;
    width: 48vh;
    margin-left: 14.5vh;
    height: 6vh;
    font-size: 15px;
    margin-bottom: 24px;
}
.setion3 span{
    margin-left: 14.5vh;
    font-size: 16px;
    font-weight: 500;
}
.setion2 #submit{
    padding: 8px;
    max-width: 10vh;
    max-height: 12vh;
}
.setion3 input{
    margin-top: 1vh;
    border-radius: 2px;
    padding: 1.7em;
    border: .9px solid black;
    background: transparent;
    width: 48vh;
    margin-left: 14.5vh;
    height: 3.5vh;
    font-size: 15px;
    margin-bottom: 24px;
}
.setion2 span{
    margin-left: 14.5vh;
    font-size: 16px;
    font-weight: 500;
}
.setion2 select{
    margin-top: 1vh;
    border-radius: 2px;
    padding: 10px;
    border: .9px solid black;
    background: transparent;
    width: 50vh;
    margin-left: 14.5vh;
    height: 5.5vh;
    font-size: 15px;
    margin-bottom: 24px;
}
.parent1 .setion2 input{
    margin-top: .9em;
    border-radius: 2px;
    padding: 10px;
    border: .9px solid black;
    background: transparent;
    width: 50vh;
    margin-left: 14.5vh;
    height: 5.5vh;
    font-size: 15px;
    margin-bottom: 24px;
}
.setion2 button{
    font-size: 2.2em;
    font-weight: 650;
    margin-top: 4vh;
    border-radius: 2rem;
    padding: 10px;
    color: #fff; 
    background: #82D3AC;
    max-width: 50vh;
    margin-left: 14.5vh;
    max-height: 5.7vh;
    border: none;
    margin-bottom: 24px;
    transition: all ease 0.2s;
}
.child_detail .image{
    height: 260px;
    width: 260px;
    margin-left: 12vh;
    border-radius: 50%;
    box-shadow: 0px 1px 15px black;
    background: url('../assets/profile.webp');
    background-size: 100% 100%;
    overflow: hidden;
}
.child_detail .image input{
    margin-top: 23.9vh;
    margin-left: -5vh
}

.setion2 button:active{
    scale: 0.9;
}
.setion2 button:hover{
    background: #4bc58a;
}
.parent1{
    display: flex;
    margin-top: -10vh;
    margin-left: -0.3vh;
}
.setion2 input{
    margin-top: 1.2vh;
    border-radius: 2px;
    padding: 10px;
    border: .9px solid black;
    background: transparent;
    width: 48.5vh;
    margin-left: 14.5vh;
    height: 3.38vh;
    font-size: 15px;
    margin-bottom: 24px;
}
@media only screen and (max-width: 984px){
    .page3{
        font-size: 54%;
    }
    .navbar h1{
        font-size: 2vh;
        text-align: center;
        padding: 14px;
    }
    .navbar button{
        margin-right: 4vh;
        margin-left: 10px;
        font-size: 10px;
    }
    .child_detail{
        display: flex;
        flex-direction: column;
    }
    .page3 p{
        text-align: center;
        font-size: 15px;
        margin-left: 0rem;
        margin-top: -5vh;
    }
    .child_detail .image{
        margin-top: -4vh;
        margin-left: 8.5vh;
        margin-bottom: 2vh;
    }
    .parent1{
        display: flex;
        flex-direction: column;
    }
    .setion1 span{
        margin-left: 2vh;
    }
    .setion1 input{
        width: 38vh;
        margin-left: 2vh;
    }
    .setion2 span{
        margin-left: 2vh;
    }
    .setion2 select{
        width: 40vh;
        margin-left: 2vh;
    }
    .setion3 span{
        margin-left: 2vh;
    }
    .setion3 input{
        width: 38vh;
        margin-left: 2vh;
    }
    .setion2 button{
        margin-top: 1vh;
        width: 40vh;
        margin-left: 2vh;
    }
    .parent1 .setion2 input{
        width: 38vh;
        margin-left: 2vh;
    }
}